.home-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
}
.home-hero {
  width: 100%;
  height: 956px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: url('https://c.tenor.com/y0fi6R8YszwAAAAd/crazy.gif');
}
.home-bg {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0.7;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
.home-container01 {
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  justify-content: center;
}
.home-text {
  color: var(--dl-color-gray-white);
  text-align: center;
}
.home-text01 {
  color: var(--dl-color-gray-900);
  max-width: 600px;
  text-align: center;
}
.home-icon {
  width: 204px;
  height: 166px;
}
.home-container02 {
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 1;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image {
  right: 0px;
  width: 100%;
  bottom: -1px;
  position: absolute;
  object-fit: cover;
}
.home-image1 {
  left: auto;
  right: 0px;
  width: 100%;
  bottom: 0px;
  display: none;
  position: absolute;
  object-fit: cover;
}
.home-section1 {
  width: 100%;
  height: 1469px;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-color: var(--dl-color-pimary-900);
}
.home-container03 {
  width: 100%;
  height: 178px;
  display: flex;
  max-width: 1320px;
  align-items: center;
  flex-direction: column;
}
.home-container04 {
  width: 66%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.home-text05 {
  color: var(--dl-color-secondary-400);
  text-align: center;
}
.home-text06 {
  color: var(--dl-color-secondary-700);
  text-align: center;
  margin-bottom: 0.25rem;
}
.home-cards-container {
  display: flex;
  margin-top: var(--dl-space-space-tripleunit);
  align-items: flex-start;
  padding-top: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.home-card1 {
  flex: 0 0 auto;
  width: 30%;
  display: flex;
  padding: var(--dl-space-space-unit);
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius50);
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.home-container05 {
  flex: 0 0 auto;
  width: 3rem;
  height: 3rem;
  display: flex;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(180deg, #f87171, #dc2626);
}
.home-icon02 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.home-text07 {
  color: var(--dl-color-secondary-100);
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Open Sans;
}
.home-text08 {
  color: var(--dl-color-secondary-700);
  font-size: 1rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  font-family: Open Sans;
  line-height: 1.625rem;
}
.home-card2 {
  flex: 0 0 auto;
  width: 30%;
  display: flex;
  padding: var(--dl-space-space-unit);
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius50);
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.home-container06 {
  flex: 0 0 auto;
  width: 3rem;
  height: 3rem;
  display: flex;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(180deg, #38bdf8, #0284c7);
}
.home-icon04 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.home-text09 {
  color: var(--dl-color-secondary-100);
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Open Sans;
}
.home-text10 {
  color: var(--dl-color-secondary-700);
  font-size: 1rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  font-family: Open Sans;
  line-height: 1.625rem;
}
.home-card3 {
  flex: 0 0 auto;
  width: 30%;
  display: flex;
  padding: var(--dl-space-space-unit);
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius50);
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.home-container07 {
  flex: 0 0 auto;
  width: 3rem;
  height: 3rem;
  display: flex;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(180deg, #34d399, #059669);
}
.home-icon06 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.home-text11 {
  color: var(--dl-color-secondary-100);
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Open Sans;
}
.home-text12 {
  color: var(--dl-color-secondary-700);
  font-size: 1rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  font-family: Open Sans;
  line-height: 1.625rem;
}
.home-work-with-us {
  display: flex;
  margin-top: var(--dl-space-space-tripleunit);
  align-items: center;
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: row;
}
.home-container08 {
  flex: 0 0 auto;
  width: 41%;
  display: flex;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.home-container09 {
  flex: 0 0 auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.home-icon08 {
  fill: var(--dl-color-secondary-500);
  width: 24px;
  height: 24px;
}
.home-text13 {
  color: var(--dl-color-secondary-400);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text14 {
  color: var(--dl-color-secondary-500);
  margin-top: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}
.home-text15 {
  color: var(--dl-color-secondary-400);
  font-style: normal;
  font-weight: 700;
}
.home-container10 {
  flex: 0 0 auto;
  width: 33%;
  display: flex;
  position: relative;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  border-radius: var(--dl-radius-radius-radius50);
  flex-direction: column;
  background-color: #09A6E9;
}
.home-container11 {
  width: 100%;
  height: 269px;
  display: flex;
  align-items: flex-end;
  border-radius: 0px;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-end;
  background-image: url('https://images.unsplash.com/photo-1522202176988-66273c2fd55f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80');
  background-position: center;
  border-top-left-radius: var(--dl-radius-radius-radius50);
  border-top-right-radius: var(--dl-radius-radius-radius50);
}
.home-image2 {
  top: auto;
  left: auto;
  width: 100%;
  bottom: 0px;
  object-fit: cover;
  margin-bottom: -1px;
}
.home-container12 {
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.home-text16 {
  font-size: 1.25rem;
}
.home-text17 {
  color: #f2f5f9ff;
  margin-top: var(--dl-space-space-unit);
}
.home-image3 {
  top: auto;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: -1px;
  height: 50px;
  position: absolute;
  object-fit: cover;
}
@media(max-width: 991px) {
  .home-cards-container {
    align-items: center;
    flex-direction: column;
  }
  .home-card1 {
    width: 90%;
    margin-bottom: var(--dl-space-space-fiveunits);
  }
  .home-card2 {
    width: 90%;
    margin-bottom: var(--dl-space-space-fiveunits);
  }
  .home-card3 {
    width: 90%;
  }
}
@media(max-width: 767px) {
  .home-section1 {
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .home-container04 {
    width: 100%;
  }
  .home-work-with-us {
    margin-top: var(--dl-space-space-tripleunit);
    flex-direction: column;
  }
  .home-container08 {
    width: 100%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-container10 {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .home-container01 {
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .home-card1 {
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-text08 {
    text-align: left;
  }
  .home-card2 {
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-text10 {
    text-align: left;
  }
  .home-text12 {
    text-align: left;
  }
}
